
.ck{
	width:200px;
	height:200px
}
body{
	font-size:120%;
	background:#a94442;

}
.header{
	width:750px;
	margin:50px auto 0px;
	color:white;
	background:#8181F7;
	text-align:center;
	border-bottom:none;
	border-radius: 10px 10px 0px 0px;
	padding:20px;
}
form, .content{
	width:750px;
	margin:50px auto;
	padding:20px;
	border: 1px solid #2E2EFE;
	background:#F6CEEE;
	border-radius:0px 0px 10px 10px;
	
}
.input-group{
	margin:10px 0px 10px 0px;
}
.input-group lable{
	display:block;
	text-align:left;
	margin:3px;
}
.input-group input{
	height:30px;
	width:250px;
	padding:5px 10px;
	font-size:16px;
	border-radius:5px;
	border:1px solid gray;
	
}
.error{
	margin:0px auto;
	color:#a94442;
	border:1px solid #a94442;
	background:bisque;
	text-align:center;
	border-radius: 5px;
	padding:10px;
}
.btn{
	padding:10px;
	font-size:15px;
	color:white;
	background:#5F9EA0;
	border:none;
	border-radius:5px;
}
.success{
	color:#3c763d;
	background:#dff0d8;
	border:1px solid #3c763d;
	margin-bottom:20px;
}